* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

:root {
  --font: "Silkscreen", sans-serif;
  --ease: cubic-bezier(0.23, 1, 0.320, 1);
  --shadow-button: -3px -10px 20px #fff, -3px -5px 10px #fff, -10px 0 20px #fff, 3px 5px 15px rgba(0, 0, 0, .2);
  --shadow-content: inset 0 -4px 0 #ddd, 0 -4px 0 #f6f7f0;
}

body, html {
  width: 100%;
  height: 100%;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

ul {
  list-style: none;
}

body {
  background-color: #f7f6f0;
  font: 300 1rem var(--font);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  height: 100vh;
}

a {
  color: orangered;
  display: inline;
  text-decoration: none;
  transition: all .2s cubic-bezier(0.23, 1, 0.320, 1);
}

a:hover {
  color: darkred;
}

@keyframes animate_title {
  from {
    filter: blur(2px);
    transform: translateY(-2rem);
    opacity: 0;
  }
  
  to {
    filter: blur(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animate_button {
  0% {
    opacity: 0;
    border-color: transparent;
    transform: translateY(2rem);
    box-shadow: none;
  }
  
  50% {
    transform: translateY(0);
  }
  
  100% {
    border-color: #c7c6c0;
    box-shadow: var(--shadow-button);
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animate_button_content {
  from {
    box-shadow: none;
    line-height: 49px;
  }
  
  to {
    box-shadow: var(--shadow-content);
    line-height: 37px;
  }
}

@keyframes animate_paragraph {
  from {
    filter: blur(2px);
    opacity: 0;
    transform: translateY(2rem);
  }
  
  to {
    filter: blur(0);
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animate_screen {
  from {
    filter: blur(2px);
    scale: 0;
    opacity: 0;
  }
  
  to {
    filter: blur(0);
    scale: 1;
    opacity: 1;
  }
}

h1 {
  font-weight: 700;
  text-align: center;
  padding: 0 0 1rem;
  animation: animate_title 1.5s var(--ease) 0s 1 backwards;
}

main {
  margin: 0 auto;
  width: 300px;
  opacity: 1;
  transition: all .2s var(--ease);
  position: relative;
  z-index: 2;
}

footer {
  font-size: .6rem;
  text-align: center;
  padding-top: 2rem;
}

:fullscreen main {
  opacity: 0;
  z-index: -1;
}

.paragraph {
  animation: animate_paragraph 1.5s var(--ease) .2s 1 backwards;
  color: #444;
  font-size: .75rem;
  padding: 0 0 1rem;
}

.paragraph > strong {
  color: black;
  font-weight: 700;
}

.screens {
  padding: 0 0 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19%, 1fr));
  gap: 1%;
  justify-content: space-between;
}

.screens > li {
  padding-top: 100%;
  height: 100%;
  border-radius: 4px;
  position: relative;
}

.screens > li:after {
  background-color: #000;
  content: "";
  height: 1px;
  width: 1px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.screens > li:nth-of-type(1) {
  animation: animate_screen 1.5s var(--ease) .2s 1 backwards;
  background-color: rgb(255, 255, 255);
}

.screens > li:nth-of-type(2) {
  animation: animate_screen 1.5s var(--ease) .3s 1 backwards;
  background-color: rgb(0, 0, 0);
}

.screens > li:nth-of-type(3) {
  animation: animate_screen 1.5s var(--ease) .4s 1 backwards;
  background-color: rgb(255, 0, 0);
}

.screens > li:nth-of-type(4) {
  animation: animate_screen 1.5s var(--ease) .5s 1 backwards;
  background-color: rgb(0, 255, 0);
}

.screens > li:nth-of-type(5) {
  animation: animate_screen 1.5s var(--ease) .6s 1 backwards;
  background-color: rgb(0, 0, 255);
}

.screens > li:nth-of-type(1):after {
  background-color: pink;
  top: 40%;
  left: 40%;
}

.screens > li:nth-of-type(2):after {
  background-color: cyan;
  top: 50%;
  left: 70%;
}

.screens > li:nth-of-type(3):after {
  top: 60%;
  left: 50%;
}

.screens > li:nth-of-type(4):after {
  top: 50%;
  left: 80%;
}

.screens > li:nth-of-type(5):after {
  top: 70%;
  left: 50%;
}

button.start-testing {
  animation: animate_button 1.5s var(--ease) 1s 1 backwards;
  border: 2px solid #c7c6c0;
  cursor: pointer;
  display: block;
  font: 700 .85rem var(--font);
  margin: 0 auto;
  padding: 0;
  height: 49px;
  width: fit-content;
  outline: 0;
  border-radius: 10px;
  box-shadow: var(--shadow-button);
  transition: all .15s var(--ease);
}

button.start-testing > span {
  animation: animate_button_content 1s var(--ease) 1.5s 1 backwards;
  display: block;
  height: 100%;
  line-height: 37px;
  width: 100%;
  padding: 0 1rem;
  border-radius: 8px;
  box-shadow: var(--shadow-content);
  transition: all .15s var(--ease);
  text-shadow: 0 1px 0 rgba(255, 255, 255, .9);
}

button.start-testing:active {
  box-shadow: none;
}

button.start-testing:active > span {
  box-shadow: none;
  line-height: 47px;
}

button.start-testing:hover > span {
  box-shadow: inset 0 -7px 0 #ddd, 0 -7px 0 #f6f7f0;
  line-height: 31px;
}

:fullscreen .fullscreen {
  opacity: 1;
}

.fullscreen {
  background-color: transparent;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: all .3s var(--ease);
}

.fullscreen.__white {
  background-color: rgb(255, 255, 255);
}

.fullscreen.__black {
  background-color: rgb(0, 0, 0);
}

.fullscreen.__red {
  background-color: rgb(255, 0, 0);
}

.fullscreen.__green {
  background-color: rgb(0, 255, 0);
}

.fullscreen.__blue {
  background-color: rgb(0, 0, 255);
}
