* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

:root {
  --font: "Nanum gothic", sans-serif;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

ul {
  list-style: none;
}

body {
  background-color: #f7f6f0;
  font: 300 1rem var(--font);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  height: 100vh;
}

a {
  color: orangered;
  text-decoration: none;
  transition: all .2s cubic-bezier(0.23, 1, 0.320, 1);
}

a:hover {
  color: darkred;
}

h1 {
  font-weight: 800;
}

main {
  margin: 0 auto;
  width: 300px;
}

p {
  font-size: .8rem;
  padding: 0 0 1rem;
}

.screens {
  padding: 0 0 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19%, 1fr));
  gap: 1%;
  justify-content: space-between;
}

.screens > li {
  padding-top: 100%;
  height: 100%;
  border-radius: 4px;
  position: relative;
}

.screens > li:after {
  background-color: #000;
  content: "";
  height: 1px;
  width: 1px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.screens > li:nth-of-type(1) {
  background-color: rgb(255, 255, 255);
}

.screens > li:nth-of-type(2) {
  background-color: rgb(0, 0, 0);
}

.screens > li:nth-of-type(3) {
  background-color: rgb(255, 0, 0);
}

.screens > li:nth-of-type(4) {
  background-color: rgb(0, 255, 0);
}

.screens > li:nth-of-type(5) {
  background-color: rgb(0, 0, 255);
}

.screens > li:nth-of-type(1):after {
  background-color: pink;
  top: 40%;
  left: 40%;
}

.screens > li:nth-of-type(2):after {
  background-color: cyan;
  top: 50%;
  left: 70%;
}

.screens > li:nth-of-type(3):after {
  top: 60%;
  left: 50%;
}

.screens > li:nth-of-type(4):after {
  top: 50%;
  left: 80%;
}

.screens > li:nth-of-type(5):after {
  top: 70%;
  left: 50%;
}

button {
  border: 2px solid #c7c6c0;
  cursor: pointer;
  display: block;
  font-weight: 800;
  margin: 0 auto;
  padding: 0;
  height: 45px;
  width: fit-content;
  outline: 0;
  border-radius: 10px;
  box-shadow: -3px -10px 25px #fff, -3px -5px 10px #fff, -10px 0 20px #fff, 3px 5px 15px rgba(0, 0, 0, .2);
  transition: all .15s cubic-bezier(0.23, 1, 0.320, 1);
}

button > span {
  display: block;
  height: 100%;
  line-height: 35px;
  width: 100%;
  padding: 0 1rem;
  border-radius: 8px;
  box-shadow: inset 0 -4px 0 #ddd, 0 -4px 0 #f6f7f0;
  transition: all .15s cubic-bezier(0.23, 1, 0.320, 1);
}

button:active {
  box-shadow: none;
}

button:active > span {
  box-shadow: none;
  line-height: 45px;
}